.cell {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.cell-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cell-heading-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.cell-heading-info-number {
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--primary-black-color);
}

.cell-heading-info-tasks-amount {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--primary-blue-color);
}