.task-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
  background-color: var(--primary-white-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.task-card-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-card-heading-no-colors {
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--secondary-grey-color);
}

.task-card-heading-colors {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.task-card-colors-value {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.task-card-name {
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--primary-black-color);
  letter-spacing: 0.02rem;
}

.task-card-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

