:root {
  --primary-white-color: #FFFFFF;
  --primary-orange-color: #FF8811;
  --primary-grey-color: #E8ECEC;
  --primary-black-color: #37393A;
  --primary-blue-color: #016FB9;
  --primary-pink-color: #EC0868;

  --secondary-grey-color: #B7B6C1;
}